/* Header Style Settings */

#title {
  text-align: center;
  padding: 10px;
  font-size: 35px;
  font-family: sans-serif;
}

#maintxt {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: sans-serif;
}

#gallerytitle {
  text-align: center;
  padding: 0px;
  font-size: 45px;
  font-family: monospace;
}

#ptxt {
  font-family:Arial;
  text-align: center;
  font-size: 15px;
}

#turntext {
  font-family:Arial;
  font-weight: bold;
  text-align: center;
}

#warningmessage {
  font-family:Arial;
  font-weight: bold;
  text-align: center;
  color: red;
  visibility: hidden;
}

@keyframes change{ /* Background Colors */
  0%{background-color: #1abc9c;}
  13%{background-color: #2ecc71;}
  26%{background-color: #3498db;}
  39%{background-color: #9b59b6;}
  52%{background-color: #e74c3c;}
  65%{background-color: #9b59b6;}
  78%{background-color: #3498db;}
  91%{background-color: #2ecc71;}
  100%{background-color: #1abc9c;}
}

@keyframes changecolor{ /* changing border colors on TIC-TAC-TOE flexbox */
  0%{border-color: #1abc9c;}
  13%{border-color: #2ecc71;}
  26%{border-color: #3498db;}
  39%{border-color: #9b59b6;}
  52%{border-color: #e74c3c;}
  65%{border-color: #9b59b6;}
  78%{border-color: #3498db;}
  91%{border-color: #2ecc71;}
  100%{border-color: #1abc9c;}
}

.header {
    padding: 25px;
    text-align: center;
    animation: change 10s infinite; /* Change background color infinitely */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
.header h1 {
    font-size: 40px;
    font-family: Tahoma;
}

/* Navigation Bar Settings */

  /* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333; /* Dark background color */
    font-family: Arial;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons */
    color: white; /* White text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition-duration: 0.4s; /* Transition effect on buttons */
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd;
    color: black; /* Black text color */
  }

  .navbar .otherhover {
    color: #ddd; /* Black text color */
    float: right;
    font-weight: bold;
  }

/* Layout Style Settings */

/* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%;
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    -ms-flex: 70%;
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.navbar a {
    float: none;
    width: 100%;
}
}

.footer {
    padding: 20px;
    text-align: center;
    background: rgb(160, 160, 160); /* Grey background */
    margin-top: 30px;
  }

/* TIC-TAC-TOE CSS */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  background: linear-gradient(black);
}

.ticTacToe {
  display: flex;
  justify-content: space-between;
  
  width: 400px;
  height: 400px;
  padding: 5px;
  border: 1.75px solid black;
}
  
.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.square {
    display: block;
    width: 125px;
    height: 125px;
    border: 2px solid black;
    animation: changecolor 10s infinite; /* Change border color infinitely */
    
    color: black;
    font-size: 5em;
    font-weight: 100;
    text-align: center;
    padding: 20px;
    font-family: Arial;
}
