/* Header Style Settings */

#title {
  text-align: center;
  padding: 10px;
  font-size: 35px;
  font-family: sans-serif;
}

#maintxt {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-family: sans-serif;
}

#gallerytitle {
  text-align: center;
  padding: 0px;
  font-size: 45px;
  font-family: Arial;
  font-weight: bolder;
}

#ptxt {
  font-family:Arial;
  text-align: center;
}

@keyframes change{ /* Background Colors */
  0%{background-color: #1abc9c;}
  13%{background-color: #2ecc71;}
  26%{background-color: #3498db;}
  39%{background-color: #9b59b6;}
  52%{background-color: #e74c3c;}
  65%{background-color: #9b59b6;}
  78%{background-color: #3498db;}
  91%{background-color: #2ecc71;}
  100%{background-color: #1abc9c;}
}

.header {
    padding: 25px;
    text-align: center;
    animation: change 10s infinite; /* Change background color infinitely */
    color: white; /* white text color */
  }

/* Navigation Bar Settings */

  /* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333; /* Dark background color */
    font-family: Arial;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons */
    color: white; /* White text color */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition-duration: 0.4s; /* Transition effect on buttons */
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd;
    color: black; /* Black text color */
  }

  .navbar .otherhover {
    color: #ddd; /* Black text color */
    float: right;
    font-weight: bold;
  }

/* Layout Style Settings */

/* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 30%;
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    -ms-flex: 70%;
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
.navbar a {
    float: none;
    width: 100%;
}
}

.footer {
    padding: 20px;
    text-align: center;
    background: rgb(160, 160, 160); /* Grey background */
  }

  /* Image Gallery */

  .hidden-detail .detail-image-container {
    display: none;
}

hidden-detail .thumbnail-list {
    flex-direction: column;
    align-items: center;
}

.logo-text {
    background: white;
    font-family: Arial;
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
}
  
  .thumbnail-title {
    background: rgb(139, 96, 96);
    color: rgb(255, 202, 202);
    display: block;
    font-size: 18px;
    margin: 0;
    padding: 0.4em 1em;
}

a[href="#"] {
    text-decoration: none;
}

.main-header {
    flex: 0 1 auto;
}

.main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.is-tiny {
    transform: scale(0.001);
    transition: transform 0ms;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-item {
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    display: inline-block;
    max-width: 120px;
    min-width: 120px;

    transition: transform 133ms ease-in-out;
}

.thumbnail-item:hover {
    transform: scale(1.2);
    transition: transform 1000ms ease-in;

}

.thumbnail-list {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    list-style: none;
    order: 2;
    
    overflow-x: auto;
    padding: 20px 0;
    white-space: nowrap;
}

.detail-image {
    width: 90%;
}

html, body {
    height: 100%;
}

.detail-image-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image-frame {
    position: relative;
    text-align: center;

    transition: transform 333ms cubic-bezier(1,0.06,0.28,1);
}

.detail-image-title {
    color: rgb(0, 0, 0);
    font-family: Segoe UI;
    font-size: 30px;
    position: center;
    bottom: -16px;
    left: 4px;
    text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

@media all and (min-width: 768px) {
    .main-content {
        flex-direction: row;
        overflow: hidden;
    }

    .thumbnail-list {
        flex-direction: column;
        margin-left: 20px;
        order: 0;
        padding: 0 35px;
    }

    .thumbnail-item {
        max-width: 260px;
    }
    
    /* every item except the first*/
    .thumbnail-item + .thumbnail-item {
        margin-top: 20px;
    }
}

/* Modal Login CSS */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: arial;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbt {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.logo {
  width: 40%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
  font-family: arial;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbt {
     width: 100%;
  }
}

#forgotPassMessage {
  margin-left: 300px;
  font-family: helvetica;
  font-weight: bold;
  visibility: hidden;
}

/* Sign Up CSS *?

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
     font-family: arial;
  }
}