html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}

body {
  animation: change 10s infinite; /* Change background color infinitely */  background-size: cover;
  display: table;
  width: 100%;
}

h2 {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

form:focus:required:invalid {
  border-color: red;
}


@keyframes change{ /* Background Colors */
    0%{background-color: #1abc9c;}
    13%{background-color: #2ecc71;}
    26%{background-color: #3498db;}
    39%{background-color: #9b59b6;}
    52%{background-color: #e74c3c;}
    65%{background-color: #9b59b6;}
    78%{background-color: #3498db;}
    91%{background-color: #2ecc71;}
    100%{background-color: #1abc9c;}
  }